- name: configure hostname
  ansible.builtin.hostname:
    name: "{{ hostname }}"

- name: set timezones
  community.general.timezone:
    name: "{{ timezone }}"

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600

- name: Upgrade all packages
  ansible.builtin.apt:
    upgrade: yes

- name: Install packages
  ansible.builtin.apt:
    name: "{{ packages }}"
    state: present
    update_cache: true