- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes
    force_apt_get: yes
    cache_valid_time: 3600

- name: Install packages
  ansible.builtin.apt:
    name: "{{ traefik_dependencies }}"
    state: present
    update_cache: true

- name: Create folder traefik
  ansible.builtin.file:
    path: "{{ traefik_docker_dir }}"
    group: "{{ ansible_user }}"
    owner: "{{ ansible_user }}"
    state: directory

- name: Determine ACME file and S3 key
  set_fact:
    acme_local_file: "{{ traefik_acme_file_staging if traefik_acme_staging else traefik_acme_file_prod }}"
    acme_s3_key: "{{ s3_key_staging if traefik_acme_staging else s3_key_prod }}"

- name: Ensure letsencrypt directory exists
  ansible.builtin.file:
    path: "{{ traefik_letsencrypt_path }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"

- name: check if acme.json exist
  ansible.builtin.stat:
    path: "{{ acme_local_file }}"
  register: local_acme

- name: Check if acme.json exists in S3
  amazon.aws.s3_object_info:
    bucket_name: "{{ s3_bucket_name }}"
    object_name: "{{ acme_s3_key }}"
    endpoint_url: "{{ yandex_storage_endpoint }}"
    access_key: "{{ aws_access_key }}"
    secret_key: "{{ aws_secret_key }}"
    region: "{{ yandex_region }}"
  register: s3_acme_info
  failed_when: false

- name: Download acme.json from S3 if exists
  amazon.aws.s3_object:
    bucket: "{{ s3_bucket_name }}"
    object: "{{ acme_s3_key }}"
    dest: "{{ acme_local_file }}"
    mode: get
    endpoint_url: "{{ yandex_storage_endpoint }}"
    region: "{{ yandex_region }}"
    access_key: "{{ aws_access_key }}"
    secret_key: "{{ aws_secret_key }}"
  failed_when: false
  when: s3_acme_info.error is not defined and not local_acme.stat.exists

- name: Create empty ACME file if it does not exist locally and not on S3
  ansible.builtin.file:
    path: "{{ acme_local_file }}"
    state: touch
    mode: '0600'
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
  when: not local_acme.stat.exists and s3_acme_info.error is defined

- name: Set correct permissions on acme.json
  ansible.builtin.file:
    path: "{{ acme_local_file }}"
    mode: '0600'
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"

- name: Copy template to traefic folder
  ansible.builtin.template:
    src: "templates/docker-compose-traefik.yaml.j2"
    dest: "{{ traefik_docker_dir }}/docker-compose.yaml"
    group: "{{ ansible_user }}"
    owner: "{{ ansible_user }}"

- name: start traefik
  community.docker.docker_compose_v2:
    project_src: "{{ traefik_docker_dir }}"
    state: present
