services:
  grafana:
    container_name: {{ grafana_container_name}}
    image: {{ grafana_image }}
    restart: unless-stopped
    labels:
        - "traefik.enable=true"
        # https router for grafana
        - "traefik.http.routers.{{ grafana_container_name }}-secure.rule=Host(`{{ grafana_url }}`)"
        - "traefik.http.routers.{{ grafana_container_name }}-secure.entrypoints=websecure"
        - "traefik.http.routers.{{ grafana_container_name }}-secure.tls.certresolver=le"
        - "traefik.http.routers.{{ grafana_container_name }}-secure.service={{ grafana_container_name }}"
        # Service definition for grafana
        - "traefik.http.services.{{ grafana_container_name }}.loadbalancer.server.port={{ grafana_port }}"
    volumes:
    - "{{ grafana_data }}:/var/lib/grafana"
    - "{{ grafana_datasource_config }}:/etc/grafana/provisioning/datasources/datasources.yaml"
    - "{{ grafana_dashboard_config }}:/etc/grafana/provisioning/dashboards/dashboards.yaml"
    - "{{ dashboards_folder }}:{{ grafana_dashboard_folder }}"
    ports:
    - "{{ grafana_port }}:{{grafana_port}}"
    networks:
    - {{ docker_network_name | default('monitoring_network') }}

volumes:
  {{ grafana_data }}:     
networks:
  {{ docker_network_name | default('monitoring_network') }}:
    external: true

    
