- name: use var for ubuntu
  ansible.builtin.include_vars: ubuntu

- name: get service facts
  ansible.builtin.service_facts:


- name: install docker
  block:

  - name: add gpg key
    ansible.builtin.apt_key:
      url: "{{ docker_gpg_key }}"
      state: present

  - name: add docker repo
    ansible.builtin.apt_repository:
      repo: "{{ docker_repo }}"
      state: present

  - name: install required packages
    ansible.builtin.apt:
      name: "{{ docker_packages }}"
      update_cache: true
      state: present
      allow_downgrade: yes
    notify: started_docker

  - name: Hold docker packages
    ansible.builtin.command: apt-mark hold {{ item }}
    loop:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    changed_when: false

  - name: add user to docker group
    ansible.builtin.user:
      user: "{{ ansible_user }}"
      group: docker
      append: true

  - name: Create a network
    docker_network:
      name: "{{ docker_network_name }}"

  when: docker_service_name not in ansible_facts.services
