- name: Config blackbox server
  hosts: monitoring-blackbox-server
  become: yes
  vars:
    ansible_python_interpreter: /usr/bin/python3
  roles:
    - common
    - docker
    - monitoring
    - blackbox-exporter
    - traefik
