# tasks/generate-password-hash.yaml
- name: Gather facts for localhost
  ansible.builtin.setup:
  delegate_to: localhost
  delegate_facts: true

- name: Install apache2-utils on control node (for htpasswd) on Ubuntu
  ansible.builtin.apt:
    name: apache2-utils
    state: present
    update_cache: true
  delegate_to: localhost
  when: ansible_facts['os_family'] == "Debian"
  become: true

- name: Install apache2-utils on control node (for htpasswd) on RHeL
  ansible.builtin.dnf:
    name: httpd-tools
    state: present
    update_cache: true
  when: ansible_facts['os_family'] == "RedHat"
  delegate_to: localhost
  become: true

- name: Generate htpasswd line locally
  ansible.builtin.command: >-
    htpasswd -nbB "{{ blackbox_exporter_basic_auth_username | default('blackbox') }}" "{{ blackbox_exporter_basic_auth_password }}"
  register: htpasswd_result
  delegate_to: localhost
  changed_when: false
  no_log: true

- name: Extract bcrypt hash from htpasswd output
  ansible.builtin.set_fact:
    blackbox_exporter_basic_auth_password_hash: "{{ htpasswd_result.stdout.split(':')[1] | trim | replace('$', '$$') }}"
  no_log: true
  changed_when: false