name: CI

on:
  workflow_dispatch:

jobs:
  deploy_blackbox:
    runs-on: self-hosted
    env:
      ALLOWED_IP: "172.16.10.1"
      IMAGE: "prom/blackbox-exporter"
      CONTAINER_NAME: "blackbox-exporter"
      VERSION: "latest"
      PORT: "9115"
    
    steps:
    
      - name: Set up paths
        run: |
          echo "BASE_DIR=$HOME/blackbox-exporter" >> $GITHUB_ENV
          echo "CERTS_DIR=$HOME/blackbox-exporter/certs" >> $GITHUB_ENV

      - name: Install docker from script
        run: |
          if ! command -v docker &> /dev/null; then
              echo "Docker is not installed. Installing Docker..."
              curl -fsSL https://get.docker.com -o get-docker.sh
              sh get-docker.sh
          else
              echo "Docker is already installed."
          fi

      - name: create blackbox exporter folder
        run: |
          echo "Creating directory ${BASE_DIR} and ${CERTS_DIR} for blackbox-exporter configuration..."
          mkdir -p ${BASE_DIR} ${CERTS_DIR}

      - name: Create self-signed SSL certificates
        run: |
          echo "Generating self-signed SSL certificates..."
          if [ -f "${CERTS_DIR}/blackbox.crt" ] || [ -f "${CERTS_DIR}/blackbox.key" ]; then
              echo "SSL certificates already exist. Skipping generation."
          else
              echo "SSL certificates do not exist. Generating new ones."
              openssl req -newkey rsa:4096 \
                -x509 \
                -sha256 \
                -days 3650 \
                -nodes \
                -out blackbox.crt \
                -keyout blackbox.key \
                -subj "/C=RU/L=Ryazan/O=Fabrika/OU=IT/CN=blackbox.home.local"
              # Move generated certificates to the certs directory
              mv blackbox.crt blackbox.key ${CERTS_DIR}/
          fi

      - name: Create config for blackbox exporter
        run: |
          echo "Creating blackbox-exporter configuration file..."
          cat > ${BASE_DIR}/blackbox.yml << 'EOF'
          modules:
            https_endpoint:
              prober: http
              timeout: 15s
              http:
                method: GET
                valid_http_versions:
                - HTTP/1.1
                - HTTP/2.0
                fail_if_not_ssl: true
                no_follow_redirects: false
                ip_protocol_fallback: false
                preferred_ip_protocol: ip4
          EOF

      - name: Create blackbox web configuration with TLS
        run: |
          cat > ${BASE_DIR}/web-config.yml << 'EOF'
          tls_server_config:
            cert_file: /certs/blackbox.crt
            key_file: /certs/blackbox.key
          
          basic_auth_users:
            blackbox: $2y$10$1KWGGVB0jhe878t6tUvtYeB8/iudISI9tKHdsfSRMMxFKOIwg9XvC
          EOF

      - name: Check if blackbox-exporter container is already running delete if exists
        run: |
          echo "Checking if ${CONTAINER_NAME} container is running..."
          EXISTING=$(sudo docker ps -aq -f name="^${CONTAINER_NAME}$")
          if [ "$EXISTING" ]; then
              echo "${CONTAINER_NAME} container is already running, removing it..."
              sudo docker rm -f "${CONTAINER_NAME}"
          fi

      - name: run blackbox exporter container
        run: |
          echo "BASE_DIR: ${BASE_DIR}"
          echo "CERTS_DIR: ${CERTS_DIR}"
          echo "Running ${CONTAINER_NAME} container..."
          
          sudo docker run -d --name ${CONTAINER_NAME} \
            -p ${PORT}:${PORT} \
            -v "${BASE_DIR}/blackbox.yml:/etc/blackbox_exporter/blackbox.yml" \
            -v "${BASE_DIR}/web-config.yml:/etc/blackbox_exporter/web-config.yml" \
            -v "${CERTS_DIR}:/certs" \
            ${IMAGE}:${VERSION} \
            --config.file=/etc/blackbox_exporter/blackbox.yml \
            --web.config.file=/etc/blackbox_exporter/web-config.yml
          echo "blackbox-exporter is running."
